body {
  margin: 0;
  padding: 0;
  background-color: blueviolet;
}

.page-header {
  display: none;
}

.visible {
  display: flex;
}

.non-visible {
  display: none;
}

.nav_bar {
  padding-top: 25px ;
  padding-bottom: 25px ;
  background-color: rgb(130, 190, 130);
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-duration: 0.55s;
}

.nav_bar ul,
.nav_bar .my-logo,
.nav_bar .close-btn {
  display: none;
}

.nav_bar .humburger {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* for moble menu */

.nav_bar_mobile {
  background-color: rgb(66, 61, 61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 0.55s;
}

.nav_bar_mobile .close-btn {
  display: flex;
  flex-direction: row;
  justify-content: end;
  color: #fff;
  cursor: pointer;
  padding: 0 50px;
}

.nav_bar_mobile ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 30px;
}

.nav_bar_mobile ul li {
  list-style: none;
  border-bottom: 1px solid rgba(152, 155, 152, 0.356);
  padding: 10px;
}

.nav_bar_mobile ul li a {
  color: #fff;
  text-decoration: none;
}

.padding-x {
  padding-left: 25px;
  padding-right: 25px;
}

.main-program {
  background-color: rgb(34, 32, 32);
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  row-gap: 20px;
}

.main-program .h1-desk {
  display: none;
}

.main-program .h1-mob {
  cursor: pointer;
  border-radius: 8px;
  padding: 30px;
  background-color: rgb(223, 55, 55);
}

.main-program .main-program-content {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

}

.main-program .main-program-content div {
  background-color: rgb(68, 65, 65);
  padding: 25px;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  border: 2px solid rgb(34, 32, 32);
}

.main-program .main-program-content div h2 {
  color: rgb(238, 94, 94);
}

.main-program .main-program-content div:hover {
  border: 2px solid whitesmoke;
}


.feature-speaker {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
}

.feature-speaker .feature-speaker-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 15px;
  align-items: center;
}

.feature-speaker .feature-speaker-content .user-info {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}

.feature-speaker .feature-speaker-content .user-info .user-image {
  width: 150px;
  height: 160px;
}

.feature-speaker .feature-speaker-content .user-biograph {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
}

.feature-speaker .feature-speaker-content .user-biograph span {
  font-weight: bold;
  font-size: 20px;
}

.feature-speaker .feature-speaker-content .user-biograph .education{
  color: rgb(224, 67, 67);
  font-size: 12px;
  font-style: italic;
}

.feature-speaker .feature-speaker-content .user-biograph .span {
  width: 10%;
  background-color: black;
  border-top: 3px solid #d8d4d4;
}


@media (min-width: 768px) {
  body {
    background-color: aliceblue;
  }


  .padding-x {
    padding-left: 150px;
    padding-right: 150px;
  }

  .page-header {
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .page-header ul {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .page-header ul li {
    list-style: none;
  }

  .page-header ul li a {
    color: #fff;
    text-decoration: none;
  }

  .nav_bar {
    background-color: blueviolet;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .nav_bar .my-logo {
    display: flex;
  }

  .nav_bar ul {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }

  .nav_bar ul li {
    list-style: none;
  }

  .nav_bar ul li a {
    text-decoration: none;
  }

  .nav_bar ul li a:hover,
  .nav_bar ul li a:focus {
    color: red;
  }

  .humburger {
    display: none;
  }

  .main-program {
    background-color: rgb(34, 32, 32);
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .main-program .main-program-content {
    display: flex;
    flex-direction: row;
    column-gap: 1px;

  }

  .main-program .main-program-content div {
    background-color: rgb(68, 65, 65);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgb(34, 32, 32);
  }

  .main-program .main-program-content div h2 {
    color: rgb(238, 94, 94);
  }

  .main-program .main-program-content div:hover {
    border: 2px solid whitesmoke;
  }

  .main-program .h1-mob {
    display: none;
  }

  .main-program .h1-desk {
    display: flex;
    text-decoration: underline;
  }

  .feature-speaker {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    align-items: center;
  }

  .feature-speaker .feature-speaker-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    padding: 15px;
    background-color: blueviolet;
  }

  .feature-speaker .feature-speaker-content .user-info {
    background-color: brown;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    width: 47%;
  }

  .feature-speaker .feature-speaker-content .user-info .user-image {
    width: 120px;
    height: 150px;
  }

  .feature-speaker .feature-speaker-content .user-biograph {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
  }
  
.feature-speaker .feature-speaker-content .user-biograph span {
  font-weight: bold;
  font-size: 20px;
}

  .feature-speaker .feature-speaker-content .user-biograph .education{
    color: rgb(224, 67, 67);
    font-size: 12px;
    font-style: italic;
  }

  .feature-speaker .feature-speaker-content .user-biograph .span {
    width: 10%;
    background-color: black;
    border-top: 3px solid #d8d4d4;
  }
}
