@font-face { font-family: cocogoose; font-style: normal; font-weight: 400; src: local('COCOGOOSE'), url(https://fonts.cdnfonts.com/s/26936/cocogoose_trial.woff) format('woff'); }

body {
  margin: 0;
  padding: 0;
}

.hide-overflow-y {
  overflow-y: hidden;
}

.page-header {
  display: none;
}

.nav_bar {
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  flex-direction: column;
  transition-property: all;
  transition-duration: 0.55s;
  position: fixed;
}

.nav_bar ul,
.nav_bar .my-logo,
.nav_bar .close-btn {
  display: none;
}

.nav_bar .humburger {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* for moble menu */

.nav_bar_mobile {
  background-color: rgb(66, 61, 61);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition-property: all;
  transition-duration: 0.55s;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

.nav_bar_mobile .close-btn {
  display: flex;
  flex-direction: row;
  justify-content: start;
  color: #fff;
  cursor: pointer;
  padding-left: 10px;
  font-size: 25px;
}

.nav_bar_mobile ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-right: 30px;
  padding-bottom: 250px;
}

.nav_bar_mobile ul li {
  cursor: pointer;
  list-style: none;
  border-bottom: 1px solid rgba(152, 155, 152, 0.356);
  padding: 10px;
  color: #d3d3d3;
}

.nav_bar_mobile ul .about {
  color: #ec5242;
}

.nav_bar_mobile ul li a {
  color: #fff;
  text-decoration: none;
}

.home-section {
  padding-top: 60px;
  padding-bottom: 30px;
  background-image: url('../imgs/background/mob-bg.png');
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.home-section h1 {
  margin-top: -10px;
  font-size: 35px;
}

.home-section h1,
.home-section h3 {
  color: #ec5242;
}

.home-section div {
  background-color: #f0eded;
  padding: 10px;
  border: 2px solid white;
}

.home-section .lg-text {
  font-weight: bold;
  font-size: 30px;
}

.padding-x {
  padding-left: 25px;
  padding-right: 25px;
}

.section-one div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-two div {
  width: 70%;
  padding: 30px;
  align-items: center;
  border: 1px solid #d3d3d3;
}

.section-two div img {
  width: 130px;
  height: 130px;
}

.section-three > div {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.footer-about .logo img {
  width: 100px;
  height: 100px;
}

.parnter-section-about .partner-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.parnter-section-about .partner-content div {
  display: flex;
  flex-direction: column;
  width: 29%;
}

.parnter-section-about .partner-content div img {
  width: 100%;
  height: 100%;
}

.main-program {
  background-color: #272a31;
  background-image: url('../imgs/background/cross.svg');
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  gap: 15px;
}

.red_underline {
  width: 8%;
  border-top: 1px solid #ec5242;
  margin-top: -30px;
  margin-bottom: 30px;
}

.main-program .h1-desk {
  display: none;
}

.main-program .h1-mob {
  cursor: pointer;
  border-radius: 8px;
  padding: 30px;
  background-color: #ec5242;
}

.main-program .main-program-content {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.main-program .main-program-content div {
  background-color: #575755;
  padding: 5px;
  display: flex;
  flex-direction: row;
  column-gap: 25px;
  border: 2px solid rgb(34, 32, 32);
  width: 100%;
}

.main-program .main-program-content div img {
  width: 30%;
  height: 90px;
  transition-property: all;
  transition-duration: 0.5s;
}


.main-program .main-program-content div img:hover {
  cursor: pointer;
  transform: scale(1.25);
}

.main-program .main-program-content div:hover {
  border: 2px solid whitesmoke;
}

.main-program .main-program-content div h2 {
  color: #ec5242;
  width: 30%;
}

.main-program .main-program-content div p {
  width: 40%;
}

.feature-speaker {
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  transition-property: all;
  transition-duration: 0.5s;
}

.feature-speaker .feature-speaker-content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 15px;
  align-items: center;
  transition-property: all;
  transition-duration: 0.5s;
}

.feature-speaker .feature-speaker-content .user-info {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
  transition-property: all;
  transition-duration: 0.5s;
}

.feature-speaker .feature-speaker-content .user-info-view-more,
.feature-speaker .feature-speaker-content .hide-more-view {
  background-color: white;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  border: 1px solid #d3d3d3;
  color: #272a31;
  cursor: pointer;
  margin-bottom: 25px;
  transition-property: all;
  transition-duration: 0.5s;
}

.feature-speaker .feature-speaker-content .user-info-hide {
  display: none;
}

.feature-speaker .feature-speaker-content .user-info-view-more span,
.feature-speaker .feature-speaker-content .hide-more-view span {
  padding: 5px;
  color: #ec5242;
}

.feature-speaker .feature-speaker-content .user-info .user-image {
  width: 150px;
  height: 160px;
}

.feature-speaker .feature-speaker-content .user-biograph {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  padding: 10px;
}

.feature-speaker .feature-speaker-content .user-biograph span {
  font-weight: bold;
  font-size: 20px;
}

.feature-speaker .feature-speaker-content .user-biograph .education {
  color: rgb(224, 67, 67);
  font-size: 12px;
  font-style: italic;
}

.feature-speaker .feature-speaker-content .user-biograph .span {
  width: 10%;
  background-color: #272a31;
  border-top: 3px solid #d8d4d4;
}

.parnter-section,
.footer {
  display: none;
}

/* About page css */

.section-one {
  background-image: url('../imgs/background/main_big.png');
  background-repeat: no-repeat;
  padding-top: 60px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
  text-align: center;
}

.section-one h3 {
  color: #ec5242;
  font-size: 20px;
}

.section-one h1 {
  font-weight: bold;
  color: #ec5242;
  font-size: 30px;
  margin-top: -10px;
}

.section-one .ipsum {
  margin-top: 30px;
  padding: 30px;
  background-color: #fff;
  width: 80%;
}

.section-one .p {
  align-self: center;
  width: 70%;
}

.section-one .email {
  font-weight: bold;
  text-decoration: underline;
}

.section-two,
.section-three {
  background-color: white;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
  align-items: center;
  border-bottom: 1px solid #d3d3d3;
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.section-two h1 {
  font-weight: bold;
  font-size: 30px;
}

.section-two p {
  width: 75%;
}

.section-three div section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #d3d3d3;
  font-size: 20px;
  width: 350px;
  height: 250px;
}

.section-three > div > .image-1 {
  background-image: url('../imgs/users/event1.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-three > div > .image-2 {
  background-image: url('../imgs/users/event2.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.section-three div section p {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(207, 9, 9, 0.6);
  width: 350px;
  height: 100vh;
  margin: 0;
  color: white;
  font-size: larger;
}

.parnter-section-about {
  background-color: #272a31;
  color: #d3d3d3;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  padding-bottom: 30px;
}

.parnter-section-about div div p {
  display: none;
}

.footer-about {
  display: flex;
  flex-direction: row;
  background-color: white;
  column-gap: 50px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.footer-about .logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.visible {
  display: flex;
}

.non-visible {
  display: none;
}

@media (min-width: 768px) {
  body {
    background-color: #d3d3d3;
  }

  .padding-x {
    padding-left: 150px;
    padding-right: 150px;
  }

  .page-header {
    background-color: #272a31;
    color: #d3d3d3;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }

  .page-header ul {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .page-header ul li {
    list-style: none;
  }

  .page-header ul li a {
    color: #d3d3d3;
    text-decoration: none;
  }

  .nav_bar {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 2px;
    padding-bottom: 2px;
    position: sticky;
    top: 0;
    z-index: 10;
  }

  .nav_bar .my-logo {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70px;
    height: 70px;
    transition-property: all;
    transition-duration: 0.75s;
  }

  .nav_bar .my-logo:hover {
    rotate: 720deg;
  }

  .nav_bar ul {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
  }

  .nav_bar ul li {
    padding: 10px;
    list-style: none;
  }

  .nav_bar ul li:hover {
    cursor: pointer;
    background-color: #d3d3d3;
    text-decoration: underline;
    border-radius: 3px;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .nav_bar ul li a {
    text-decoration: none;
  }

  .nav_bar ul li .about {
    color: #ec5242;
  }

  .nav_bar ul .cc {
    color: #ec5242;
    border: 3px solid #ec5242;
  }

  .nav_bar ul li a:hover,
  .nav_bar ul li a:focus {
    color: #ec5242;
  }

  .humburger {
    display: none;
  }

  .home-section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-image: url('../imgs/background/main_big.png');
    padding-bottom: 40px;
  }

  .home-section h1,
  .home-section h3 {
    color: #ec5242;
  }

  .home-section h1 {
    font-weight: bold;
    font-size: 90px;
  }

  .home-section div {
    width: 80%;
    border: 3px solid white;
    padding: 10px;
    background-color: #e9e5e5;
  }

  .home-section .lg-text {
    font-weight: bold;
    font-size: 25px;
  }

  .section-two div img {
    width: 150px;
    height: 150px;
  }

  .footer-about .logo img {
    width: 150px;
    height: 150px;
  }

  .section-three div {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding-bottom: 100px;
  }

  .section-two p {
    width: 75%;
  }

  .section-two div {
    width: 40%;
    padding: 10px;
    border: 1px solid #d3d3d3;
  }

  .footer .logo img {
    width: 150px;
    height: 150px;
  }

  .parnter-section .partner-content > div {
    display: flex;
    flex-direction: column;
    color: #d3d3d3;
    align-items: center;
    font-weight: bold;
    font-size: 30px;
    padding: 10px;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .parnter-section .partner-content > div > img {
    width: 150px;
    height: 150px;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .main-program {
    background-image: url("../imgs/background/cross.svg");
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #d3d3d3;
    row-gap: 30px;
    padding-top: 30px;
    padding-bottom: 70px;
  }

  .main-program .main-program-content {
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    opacity: 75%;
  }

  .main-program .main-program-content div {
    background-color: #575755;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #272a31;
  }

  .main-program .main-program-content div img {
    width: 50px;
    height: 50px;
  }

  .main-program .main-program-content div h2 {
    color: #ec5242;
  }

  .main-program .main-program-content div:hover {
    border: 2px solid #d3d3d3;
  }

  .main-program .h1-mob {
    display: none;
  }

  .main-program .h1-desk {
    display: flex;
    text-decoration: underline;
  }

  .feature-speaker {
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    align-items: center;
    background-color: rgb(255, 255, 255);
  }

  .feature-speaker .feature-speaker-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
  }

  .feature-speaker .feature-speaker-content .user-info {
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    width: 48%;
  }

  .feature-speaker .feature-speaker-content .user-info .user-image {
    width: 130px;
    height: 150px;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .parnter-section .partner-content > div > img:hover {
    cursor: pointer;
    transform: scale(1.35);
    rotate: 360deg;
  }

  .feature-speaker .feature-speaker-content .user-info img:hover {
    cursor: pointer;
    transform: scale(1.15);
  }

  .feature-speaker .feature-speaker-content .user-info-view-more,
  .feature-speaker .feature-speaker-content .hide-more-view {
    display: none;
  }

  .feature-speaker .feature-speaker-content .user-biograph {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 14px;
    transition-property: all;
    transition-duration: 0.5s;
  }

  .feature-speaker .feature-speaker-content .user-biograph span {
    font-weight: bold;
    font-size: 16px;
  }

  .feature-speaker .feature-speaker-content .user-biograph .education {
    color: #ec5242;
    font-size: 12px;
    font-style: italic;
  }

  .feature-speaker .feature-speaker-content .user-biograph .span {
    width: 10%;
    background-color: #272a31;
    border-top: 3px solid #b9b8b8;
  }

  .section-three div section p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(207, 9, 9, 0.6);
    width: 500px;
    height: 100vh;
    margin: 0;
    color: rgb(255, 255, 255);
    font-size: larger;
  }

  .parnter-section {
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    color: #d3d3d3;
    background-color: #272a31;
    align-items: center;
  }

  .parnter-section .partner-content {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    padding: 20px;
  }

  .parnter-section .partner-content > div > p:hover {
    color: #ec5242;
    cursor: pointer;
    text-decoration: underline;
  }

  .footer {
    background-color: #d3d3d3;
    display: flex;
    flex-direction: row;
    column-gap: 40px;
    padding-top: 10px;
    padding-bottom: 30px;
  }

  .footer .des {
    margin-top: 30px;
  }

  /* About page css */

  .section-one {
    background-image: url('../imgs/background/main_big.png');
    background-repeat: no-repeat;
    padding-top: 70px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    text-align: center;
  }

  .section-one h1 {
    color: #ec5242;
    font-weight: bold;
    font-size: 40px;
  }

  .section-one h3 {
    display: none;
  }

  .section-one .ipsum {
    padding: 30px;
    background-color: #fff;
    width: 80%;
  }

  .section-one .email {
    font-weight: bold;
    text-decoration: underline;
  }

  .section-two,
  .section-three {
    background-color: white;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    border-bottom: 1px solid #d3d3d3;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .section-three div section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #d3d3d3;
    font-size: 25px;
    width: 500px;
    height: 400px;
  }

  .section-three > div > .image-1 {
    background-image: url('../imgs/users/event1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .section-three > div > .image-2 {
    background-image: url('../imgs/users/event2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .footer-about {
    display: flex;
    flex-direction: row;
    background-color: #272a31;
    color: #d3d3d3;
    column-gap: 50px;
  }

  .footer-about .logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer-about .des {
    margin-top: 30px;
  }

  .parnter-section-about {
    display: none;
  }

  .red_underline {
    width: 3%;
    border-top: 1px solid #ec5242;
    margin-top: -40px;
    margin-bottom: 20px;
  }
}
